[submodule "ext/better-cmake"]
	path = ext/better-cmake
	url = https://github.com/daemontsun/better-cmake
[submodule "ext/shl"]
	path = ext/shl
	url = https://github.com/daemontsun/shl
[submodule "ext/liballegrex"]
	path = ext/liballegrex
	url = https://github.com/daemontsun/liballegrex
[submodule "ext/fs"]
	path = ext/fs
	url = https://github.com/daemontsun/fs
[submodule "ext/window-base"]
	path = ext/window-base
	url = https://github.com/daemontsun/window-base
